
body::before {
background-color: #00749F;
color: #fff;
content: "♿ Spell is addressing accessibility issues. Reminder: Change path in a11y init script before pushing to production.";
display: block;
font-size: 1.5rem;
left: 0;
padding: 1em;
position: absolute;
text-align: center;
top: 0;
width: 100%;
z-index: 100000;
}

#primary-nav {

  a[aria-current="page"] {
  text-decoration: underline;
  }

}

.home .keyword-search .search-form-fields button {

  &:focus, &:hover {
  background-color: #fff !important;
  color: #0384af !important;
  }

}

.slick-carousel-pause {
background-color: black;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQAQMAAACDEa/aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABFJREFUKM9j+P//xygexQOFAVmQ2dAaCQcwAAAAAElFTkSuQmCC");
background-position: center;
background-repeat: no-repeat;
background-size: 25%;
border-radius: 5px;
border: 1px white solid;
bottom: 2.5em;
height: 30px;
opacity: 0.5;
overflow: hidden;
position: absolute;
right: 1.5vw;
text-indent: -999em;
transition: all 350ms ease-in-out;
width: 30px;
z-index: 2;

  @media(min-width: 900px) {

    bottom: 2em;

    .quote-slider {
    bottom: 0;
    }

  }

  &:hover, &:focus {

    opacity: 1;

  }

	&[aria-pressed="true"] {

		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABgAQMAAACJwtYYAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAMdJREFUOMtF06FxxEAMhWGVkBJcimDK2hJUwpUSuPBKMFhgmNEYnG/2VpkYvF/oI/8IPfsy3QETTrhcrIAHTDibWA4DHjDhbGI5DDhgwtnEchhwwDecTSyDAQd8w9nE2uATDvi6SVd0RVd0RVd0pU58wgEvuJpYG/yBO3xBWDsM6OLkRfJ4hyEuF6eJCQ8Y4nLxY2LCDkNcLn5MTNhhu0llVDcTdtjE5eJl4i/s8CFqUP+VeMIOHyIzpLI6YYebuCS74Am/IdUfqsf2gxHDS4AAAAAASUVORK5CYII=");

	}

}

ol.vid-list {
outline-offset: -5px;

  li a:focus {
  background-color: #666666;
  outline-offset: -5px;
  }

}

.btn-video-nav {
background-color: #000;
color: #fff;
display: inline-block;
padding: 1em;
position: relative;
z-index: 0;

  &:focus {
  z-index: 1;
  }

}

.fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object {

  &:focus {

    outline: auto;

  }

}

// Advanced Search

.top-bar .advanced-search-form span.label {
display: block;
color: #fff;
font-size: 1.4rem;
background-color: #333;
margin: 0;
padding: 0;
line-height: normal;
}

.advanced-search-form #audition-alert > span {
display: none !important;
}

// Sitemap

#sitemap #content a.expandable-parent {
font-weight: bold;

  &::after {
  content: " +";
  }

}

.social-media ul.social-media__wrap a {
color: #fff;
}

// Home Page Fit Finder: 

.career-tabs .basic-tabcordion-content .custom-checklist.custom-facets fieldset ul li input[type="checkbox"] {
appearance: auto;
-webkit-appearance: auto
}


// Reflow issue. Header is consuming too much screen real-estate at 256

@media (max-height: 256px) {

  .new-nav {
  position: static !important;
  }
    
  .spacer {
  height: auto !important;
  }

}
