@model dynamic
@using System.Web.Optimization
@using Tmp.TalentBrew.Core.HtmlHelpers
@using Tmp.TalentBrew.Core.Utilities

@{
    var site = Model as ISite;
    var faviconUrl = site != null ? site.FaviconUrl : string.Empty;
    var faviconContentType = site != null ? site.FaviconContentType : string.Empty;
    var faviconCdnUrl = string.IsNullOrEmpty(faviconUrl) ? string.Empty : Url.CdnUrl(faviconUrl, "TBCDN");
    var pageModel = Model as PublishedPageModel;
	var homePageModel = Model as PublishedHomeModel;
}
<!DOCTYPE html>
<html lang="@Html.GetLanguageAttribute(site)" class="no-js">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    @if (pageModel != null && !Extensions.IsTrackedPage(pageModel)) {
        <meta name="robots" content="noindex, nofollow" />
    }
    <meta name="description" content="@Html.Tokenize((string)ViewBag.MetaDescription)"/>
	@if (homePageModel != null && homePageModel.BingAnalyticsId != null){ 
    <meta name="msvalidate.01" content="@homePageModel.BingAnalyticsId" />
    }
	<meta name="format-detection" content="telephone=no"/>
	<title>@Html.Tokenize((string)ViewBag.Title)</title>
    @Html.Partial("_ThemeCSS")
    @RenderSection("Head", false)
    @if (string.IsNullOrWhiteSpace(faviconCdnUrl))
    {
        <link rel="icon" href="data:;base64,="/>
    }
    else 
    { 
        <link rel="shortcut icon" href="@faviconCdnUrl" type="@faviconContentType"/>
    }
    @Html.Partial("_Plumrnizr")
    @Html.Partial("_GoogleAnalytics")
</head>
<body id="@ViewBag.BodyId" @Html.PageAttributes()>
	@Html.Partial("_GoogleTagManager")
	@Html.Hidden("no-default-searchresults-scroll", true)
	<div id="page">
	<a id="skip-nav" class="access-link" href="#content">Skip to main content</a>
    @RenderSection("AccessLinks", false)
    <header>
	    @Html.Partial("_Header")       
        <div class="header-content" data-handle="menu-toggle" data-expandable="false" data-speed="0">
            <button class="menu-toggle">Menu</button>
            <div>
                @*<!-- hide nav until phase2 - per dpm
                @Html.Partial("_ThemePartial1")-->*@
                <div class="header-modules">
                    @Html.Partial("_ThemePartial2")
                </div>
            </div>
        </div>
    </header>
   
        <div class="search-bkg">
            <div class="search-container">
                <h2 class="no-toggle">Search Jobs</h2>
                <div>
                    @Html.Partial("_ThemePartial3")
                </div>
            </div>
        </div>
    
     @Html.Partial("_ThemePartial4")
	<main id="content">
		@RenderBody()
	</main>
	<footer>
	    <div class="master-container">
            @Html.Partial("_Footer")
            
            <p class="footer-eoe">It is the policy of NewYork-Presbyterian to provide equal opportunity to all employees and applicants for employment without regard to race, color, religion, creed, sex, sexual orientation, gender (including gender identity and expression), national origin, citizenship status, marital status, veteran status, employment status, age, disability (including pregnancy), predisposing genetic characteristics, and any other protected characteristics, within the meaning and subject to the conditions of applicable federal, state and city laws.</p>
        </div>           
	</footer>
	</div>
    @Scripts.Render(Url.CdnUrl(Tmp.TalentBrew.Core.Constants.CoreJavascript, "TBCDN"))
    @Html.Partial("_ThemeJavascript")
    @*<!-- Slick Slider Information - (Must initialize on page level to work ViewBag.Slider = "true";)--> *@
        @if (ViewBag.Slider == "true") {
            <link rel="stylesheet" type="text/css" href="https://tbcdn.talentbrew.com/company/19715/v1_0/slick/slick-min.css" media="screen">
            <script type="text/javascript" src="https://tbcdn.talentbrew.com/company/19715/v1_0/slick/slick-min.js"></script>
            <script>
                $('.award-slider').slick({
                    infinite: true,
                    adaptiveHeight: true,
                    autoplaySpeed: 6000,
                    autoplay: true,
                    pauseOnHover:false
                });
                $('.award-slider').on('init',function(slick){
                    $('.award-slider .slick-next').click(function(){
                        if(location.host == "careers.nyp.org"){
                        ga('send', 'event', 'Custom Event', 'Click', 'Homepage Awards - Next Button');
                        }
                    });
                    
                    $('.award-slider .slick-prev').click(function(){
                        if(location.host == "careers.nyp.org"){
                        ga('send', 'event', 'Custom Event', 'Click', 'Homepage Awards - Previous Button');
                        }
                    });
                });
            </script>
        }
    @*<!-- Fancybox Information - (Must initialize on page level to work ViewBag.Lightbox = "true";)--> *@
        @if (ViewBag.Lightbox == "true") {
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/css/jquery.fancybox.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/js/jquery.fancybox.min.js"></script>
            <script>
                $(".video-popup").fancybox({
                    'width'         : 851,
                    'height'        : 533,
                    'autoScale'     : true,
                    'type'          : 'iframe'
                });
            </script>
        }
    @*<!-- Slick Slider Information - (Must initialize on page level to work ViewBag.bannerSlider = "true";)--> *@
        @if (ViewBag.bannerSlider == "true") {
            <link rel="stylesheet" type="text/css" href="https://tbcdn.talentbrew.com/company/19715/v1_0/css/slick-min.css" media="screen">
            <script type="text/javascript" src="https://tbcdn.talentbrew.com/company/19715/v1_0/js/slick-min.js"></script>
            <script>
                $('.banner-slider').slick({
                    infinite: true,
                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: 6000,
                    easing: 'ease-in-out',
                    adaptiveHeight: true,
                    pauseOnHover:false,
                    dots: true
                });
            </script>
        }
    @Html.RenderScripts()
    @RenderSection("EndScripts", false)
    
    @if(ViewBag.BodyId == "home")
    {
    
            <script src="https://services1-tmpwebeng-com.tmpqa.com/nyp/nyp.js"></script>
            
    }
    
    @(pageModel != null && Extensions.IsTrackedPage(pageModel) ? Html.Raw(pageModel.TrackingTag) : MvcHtmlString.Empty)
	@Html.Partial("_SiteTrackingTag")
</body>
</html>