<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

<div id="customTint">
    <ul>
        <li v-for="tintItem in tintData">
            <a v-bind:href="tintItem.url" target="_blank">
                <img v-bind:src="tintItem.image" />
            </a>
            <div class="tint-copy-wrap">
                <p class="tint-title">
                    <a v-bind:href="tintItem.url" target="_blank">
                        {{ tintItem.title }}
                    </a>
                </p>
                <a class="tint-external-link" v-if="tintItem.tweet_urls[0]" v-bind:href="tintItem.tweet_urls[0].expanded_url" target="_blank">{{ tintItem.tweet_urls[0].display_url }}</a>
            </div>

            <a class="tint-social" v-bind:href="tintItem.url" target="_blank">
                <i class="fab fa-facebook-f" v-if="tintItem.source === 1"></i>
                <i class="fab fa-twitter" v-if="tintItem.source === 2"></i>
                <i class="fab fa-instagram" v-if="tintItem.source === 3"></i>
                <i class="fab fa-youtube" v-if="tintItem.source === 4"></i>
                <i class="fab fa-pinterest-p" v-if="tintItem.source === 5"></i>
                <i class="fab fa-rss" v-if="tintItem.source === 6"></i>
                <i class="fab fa-google-plus-g" v-if="tintItem.source === 7"></i>
                <i class="fab fa-linkedin-in" v-if="tintItem.source === 8"></i>
                <i class="fab fa-tumblr" v-if="tintItem.source === 10"></i>
                <i class="fab fa-paperclip" v-if="tintItem.source === 11"></i>
            </a>

        </li>
    </ul>
    <button class="tint-load-more" v-on:click="getNextPage()">Load More</button>

</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>


$(window).load(function(){
    feedUrl = "https://api.tintup.com/v1/feed/gccommunity?api_token=927985";

    if(typeof Vue != "undefined"){
        var tint = new Vue({
        el: '#customTint',
        data: {
            feedUrl: feedUrl,
            tintData: [],
            nextPage: ""
        },
        methods: {
            getTint: function(){
                $.ajax({ url: this.feedUrl, dataType: 'jsonp'}).done(function(response){
                    tint.nextPage = response.next_page;
                    tint.tintData = tint.tintData.concat(response.data);
                });
            },
            getNextPage: function(){
                $.ajax({ url: this.nextPage, dataType: 'jsonp'}).done(function(response){
                    tint.nextPage = response.next_page;
                    tint.tintData = tint.tintData.concat(response.data);
                });
            }
        },
        created: function(){
            this.getTint();
        },
        watch: {
            tintData: function(){
                setTimeout(function(){
                    if($('#customTint ul li').length <= 20){
                        $('#customTint ul').masonry({
                          itemSelector: 'li',
                          columnWidth: 25,
                            percentPosition: true
                        });
                    } else {
                        $('#customTint ul').masonry('reloadItems').masonry();
                    }
                }, 500);
            }
        }
    });
}
});

</script>
