/*!

  Radancy: Events Model

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

html {
scroll-padding-top: 100px; // Adjust as needed to if sticky navs are used, etc.
}

// Global Properities

// Note: If you have these already in your global stylesheet, feel free to remove.

*, *::before, *::after {
box-sizing: inherit;
}
  
html {
box-sizing: border-box;
}
  
// Visually hide elements
  
.visually-hidden:not(:focus):not(:active) {
clip-path: inset(50%);
clip: rect(0 0 0 0);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

// New Window Links
// Any link that opens in a new windows needs this and also hidden text.
// Example: <a href="..." target="_blank">Create Home Account <span class="visually-hidden">(opens in new window)</span></a>

a {

  &[target="_blank"] {

    &:after {
    background-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAY1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmaHTeAAAAIHRSTlMA8nduqJtOiPi1gkbk1I4E/drNxrxhXj4L6+etq5xUBzDUHmUAAADHSURBVDjL7dTJDsIgFIXhg9XSls6js33/p5RY4xElt8S1/+Im3HwJKwCQFYppPDJ1rZxyVN383gVLw/wRMvdc4lns7hVyd3EGpQsTO9PNKwNKFyo7R3iiJNzAn8llyNJAuAu7mo5QcH0iQbotJhHSAbEI6awklNwiCf2OktDj2EDodcwQeh37gvueToYFnReylE6GaDvIkP0IJ611FgCXFx0CI0vUH67DUYZXfnuR2MmSBMc5qAN0GCxRtSGuuAHQjVqpKSvcAdRxP4/X5EAaAAAAAElFTkSuQmCC);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 1em;
    content: "";
    display: inline-block;
    height: 1em;
    margin: 0 6px;
    position: relative;
    vertical-align: middle;
    width: 1em;
    }

  }

}

.events {

  // Overview 

  &__overview {
  background-color: #ccc;
  border-radius: 5px;
  font-weight: bold;
  margin: 1em 0;
  padding: 6em 2em;
  text-align: center;
  }

  // Shared

  &__primary-heading, &__summary {
  margin: 0;
  }

  // Heading

  &__primary-heading {
  font-size: 2.5rem;
  }

  // Summary

  &__summary {
  font-size: 1.2rem;

    li {
    display: inline-block;

      &:not(&:last-child) {
        
        &::after {
        content: "|";
        display: inline-block;
        margin-inline-end: -5px;
        padding: 0 0.8em;
        } 

      }

    }

  }

  &__btn {
  background-color: #007ac8;
  border: 2px #fff solid;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: normal;
  margin-top: 2em;
  padding: 0.8em 3em;
  text-decoration: none;

    &:focus, &:hover {
    background-color: #fff;
    border-color: #007ac8;
    color: #007ac8;
    }

  }

  // Events Share 

  &__share {
  background-color: #eee;
  border-radius: 5px;
  display: block;
  margin: 1em auto;
  padding: 1em 0;
  text-align: center;

    @media(min-width: 60em) {

      max-width: 350px;

    }

    h2, ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
    }

    h2 {
    font-size: 1rem;
    font-weight: bold;
    }

    h2, li:not(:last-child) {
    margin-inline-end: 1em;
    }

    a {
    background-color: #007ac8;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    text-indent: -999em;
    width: 40px;

      &:hover, &:focus {
      opacity: 0.7;
      }

    }

  }

  // Events Wrapper

  &__details {
  column-gap: 4em;
  margin: 2em auto;
  max-width: 1440px;

    @media(min-width: 56.25em) {

      display: flex;

    }

  }

  // Events Description

  &__description {

    h2 {
    color: #007ac8;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2;
    margin: 0; 
    }

    p {
    margin-top: 0;
    }

  }

  // Events Sidebar

  &__complementary {
  min-width: 320px;

    dl {
    font-weight: bold;
    line-height: normal;
    margin-top: 3em;
        
      div {
      align-items: center;
      display: grid; 
      grid-template-columns: 50px auto;
      grid-template-rows: auto;
      gap: 0 20px;
      margin-bottom: 1em;
        
        &::before {
        background-color: #ccc;
        content: "";
        display: block;
        grid-row-end: none;
        grid-row-start: 1;
        height: 60px;
        width: 50px;
        }
        
      }
        
      dt {
      color: #007ac8;
      grid-column-start: 2;
      }
        
      dd {
      grid-column-start: 2;
      margin: 0;

        span {
        display: block;
        }

      }
        
    }

  }

  // Registration

  &__register {
  background-color: #eee;
  padding: 1em;

    header {
    text-align: center;
    }

    &:target {
    background-color: rgba(#007ac8, 0.1);
    }

  }
  
  // Success Message

  &__success{
  background-color: #007ac8;
  text-align: center;
  color: #fff;
  padding: 2em;
  margin: 1em 0;

    li {
    display: inline-block;
    margin: 0 1em;

      a {
      min-width: 220px;
      }

    }

  }

}

// Events Form 

// Variables

$ha-color-complete: #008000;
$ha-color-dark: #000;
$ha-color-disabled: #767676;
$ha-color-error: #C70000;
$ha-color-error-highlight: pink;
$ha-color-highlight-1: #CCC;
$ha-color-highlight-2: #EEE;
$ha-color-light: #FFF;
$ha-color-neutral: #767676;
$ha-color-neutral-highlight: #767676;
$ha-color-primary: #6F00EF;

.events-form {
display: grid; 
grid-template-columns: 50% 50%; 
grid-template-rows: auto; 
grid-template-areas: 
"events-form__firstname events-form__lastname"
"events-form__email events-form__upload"
"events-form__optin events-form__optin"
"events-form__agreement events-form__agreement"
"events-form__submit events-form__submit"; 
position: relative;

  // For more complex layouts, I like to use explicit grids, which makes understanding the layout much easier. Form are hard enough as it is.

  &__firstname { 
  grid-area: events-form__firstname; 
  }
  
  &__lastname { 
  grid-area: events-form__lastname;
  }
  
  &__email { 
  grid-area: events-form__email; 
  }
  
  &__upload { 
  grid-area: events-form__upload;
  }
  
  &__optin { 
  grid-area: events-form__optin;
  }
  
  &__agreement { 
  grid-area: events-form__agreement;
  }
  
  &__submit {
  grid-area: events-form__submit;
  }

  &__optin, &__agreement, &__submit {
  text-align: center;
  }

  // General styles for for elements

  &__field {
  margin: 0 1em; // Adding margin to each field because inputs not playing nice with gap. 

    // Label

    &__label {
    display: inline-block;
    font-weight: bold;
    margin: 1em 0 .5em;

      // Some "legends" need to be styled like labels, too.

      &:not(label) {
      margin-top: 0;
      }

      .events-form__field--invalid & {
      color: $ha-color-error;
      }

    }

    // Required

    &__required {
    @extend .visually-hidden;
    }

    &__icon {

      &::after {
      color: $ha-color-error;
      content: "*";
      vertical-align: middle;
      }

    }

    // Form Elements

    input:not([type="checkbox"]):not([type="radio"]):not([type="file"]), select, textarea {
    background-color: $ha-color-light;
    border: 1px $ha-color-neutral solid;
    font-size: inherit;
    padding: .7em;
    width: 100%;

      &[aria-invalid="true"] {
      border-color: $ha-color-error;
      background-color: $ha-color-error-highlight;
      }

    }

    input[type="file"] {
    display: block;
    width: 100%;

      &::file-selector-button {
      @extend .events__btn;
      margin: 0; // Override - can be removed.
      margin-inline-end: 1em;
      min-width: 220px;
      padding: 1em;
      text-transform: none;
      }

    }

    // Error Messages

    &__error {
    color: $ha-color-error;
    display: none;

      .events-form__field--invalid & {
      display: block;
      }

    }

    // Descriptions

    &__desc {
    display: block;
    font-style: italic; 
    }

    &__error, &__desc {
    margin: .5em 0;
    }

  }

  &__button {
  @extend .events__btn;
  }

}