/*!

  Radancy: Events Model

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

/* html {
scroll-padding-top: 300px; // use to offset scrolling with sticky navs, etc. 
} */

.events {

  // Overview 

  &__overview {
  background-color: #ccc;
  border-radius: 5px;
  font-weight: bold;
  margin: 1em 0;
  padding: 6em 2em;
  text-align: center;
  }

  // Shared

  &__primary-heading, &__summary {
  margin: 0;
  }

  // Heading

  &__primary-heading {
  font-size: 2.5rem;
  }

  // Summary

  &__summary {
  font-size: 1.2rem;

    li {
    display: inline-block;

      &:not(&:last-child) {
        
        &::after {
        content: "|";
        display: inline-block;
        margin-inline-end: -5px;
        padding: 0 0.8em;
        } 

      }

    }

  }

  &__btn-register {
  background-color: #007ac8;
  border: 2px transparent solid;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: normal;
  margin-top: 2em;
  padding: 0.8em 3em;
  text-decoration: none;

    &:focus, &:hover {
    background-color: #fff;
    border-color: #007ac8;
    color: #007ac8;
    }

  }

  // Events Share 

  &__share {
  background-color: #eee;
  border-radius: 5px;
  display: block;
  margin: 1em auto;
  padding: 1em 0;
  text-align: center;

    @media(min-width: 60em) {

      max-width: 350px;

    }

    h2, ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
    }

    h2 {
    font-size: 1rem;
    font-weight: bold;
    }

    h2, li:not(:last-child) {
    margin-inline-end: 1em;
    }

    a {
    background-color: #007ac8;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    text-indent: -999em;
    width: 40px;

      &:hover, &:focus {
      opacity: 0.7;
      }

    }

  }

  // Events Wrapper

  &__details {
  column-gap: 4em;
  margin: 2em auto;
  max-width: 1440px;

    @media(min-width: 56.25em) {

      display: flex;

    }

  }

  // Events Description

  &__description {

    h2 {
    color: #007ac8;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2;
    margin: 0; 
    }

    p {
    margin-top: 0;
    }

  }

  // Events Sidebar

  &__complementary {
  min-width: 320px;

    dl {
    font-weight: bold;
    line-height: normal;
    margin-top: 3em;
        
      div {
      align-items: center;
      display: grid; 
      grid-template-columns: 70px auto;
      grid-template-rows: auto;
      margin-bottom: 1em;
        
        &::before {
        background-color: #ccc;
        content: "";
        display: block;
        grid-column-start: 1;
        grid-row-end: none;
        grid-row-start: 1;
        height: 60px;
        width: 50px;
        }
        
      }
        
      dt {
      color: #007ac8;
      grid-column-start: 2;
      grid-row-end: 2;
      grid-row-start: 1;
      }
        
      dd {
      grid-column-start: 2;
      grid-row-end: 3;
      grid-row-start: 2;
      margin: 0;

        span {
        display: block;
        }

      }
        
    }

  }

  // Registration

  &__register {
  background-color: #eee;
  padding: 1em;
  text-align: center;

    &:target {
    background-color: #ccc;
    outline: 2px #007ac8 solid;
    }

  }   

}