/*!

  Radancy: Hosted Apply Model

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

// Mixins

@mixin fontface($font-path, $fileName, $fontName, $weight: normal, $style: normal, $display: swap) {

  @font-face {

    font-family: "#{$fontName}";
    src:local("#{$fontName}"),
    url("#{$font-path}#{$fileName}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: #{$display};

  }

}

// Variables

// Colors

$ha-color-complete: #008000;
$ha-color-dark: #000;
$ha-color-disabled: #767676;
$ha-color-error: #C70000;
$ha-color-error-highlight: pink;
$ha-color-highlight-1: #CCC;
$ha-color-highlight-2: #EEE;
$ha-color-light: #FFF;
$ha-color-neutral: #767676;
$ha-color-neutral-highlight: #767676;
$ha-color-primary: #6F00EF;

// Font Weight

$weight-black: 900 !default; // Black (Heavy)
$weight-bold: 700 !default; // Bold (Often used as 'bold' instead of a number)
$weight-extra-bold: 800 !default; // Extra Bold (Ultra Bold)
$weight-extra-thin: 200 !default; // Extra Light (Ultra Light)
$weight-light: 300 !default; // Light
$weight-medium: 500 !default; // Medium
$weight-normal: 400 !default; // Normal (Often used as 'normal' instead of a number)
$weight-semi-bold: 600 !default; // Semi Bold (Demi Bold)
$weight-thin: 100 !default; // Thin (Hairline)

// Font Path

$font-file-path: "https://tbcdn.talentbrew.com/company/1839/Full_v3_0/font/";

@include fontface("#{$font-file-path}", "fontawesome-webfont", "FontAwesome", $weight-normal);

// Animations

@keyframes fade-in {

  from {

    opacity: 0;

  }

  to {

    opacity: 1;

  }

}

// Global Properities

// Note: If you have these already in your global stylesheet, feel free to remove.

*, *::before, *::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

// Visually hide elements

.visually-hidden:not(:focus):not(:active) {
clip-path: inset(50%);
clip: rect(0 0 0 0);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

// Hosted Apply

.hosted-apply {
margin-top: 1em;
overflow: hidden;
padding: 8px;
position: relative;

  // Global Form Element Reset

  // Note: If you have these already in your global stylesheet, feel free to remove.

  input, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearnace: none;
  }

  input:not([type="checkbox"]), button {
  box-sizing: border-box;
  line-height: normal;
  }

  input[type="checkbox"], input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearnace: checkbox;
  }

  // New Window Links
  // Any link that opens in a new windows needs this and also hidden text.
  // Example: <a href="..." target="_blank">Create Home Account <span class="visually-hidden">(opens in new window)</span></a>

  a {

    &[target="_blank"] {

      &:after {
      background-color: transparent;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAY1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmaHTeAAAAIHRSTlMA8nduqJtOiPi1gkbk1I4E/drNxrxhXj4L6+etq5xUBzDUHmUAAADHSURBVDjL7dTJDsIgFIXhg9XSls6js33/p5RY4xElt8S1/+Im3HwJKwCQFYppPDJ1rZxyVN383gVLw/wRMvdc4lns7hVyd3EGpQsTO9PNKwNKFyo7R3iiJNzAn8llyNJAuAu7mo5QcH0iQbotJhHSAbEI6awklNwiCf2OktDj2EDodcwQeh37gvueToYFnReylE6GaDvIkP0IJ611FgCXFx0CI0vUH67DUYZXfnuR2MmSBMc5qAN0GCxRtSGuuAHQjVqpKSvcAdRxP4/X5EAaAAAAAElFTkSuQmCC);
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 1em;
      content: "";
      display: inline-block;
      height: 1em;
      margin: 0 6px;
      position: relative;
      width: 1em;
      }

    }

  }

  // Dialog

  dialog {
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    .dialog-heading {
    margin: 0;
    }

    &::backdrop {
    animation: fade-in 1s;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4));
    }

  }

  &__primary-heading {
  margin: .5em 0 1em;
  }

  // "Back to Job Posting" Link

  &__back {
  margin: 0 1em 1em;
  padding: 0;
  text-align: right;
  }

  // Progress Bar

  &__progress {
  margin: 1em 0;
  position: relative;

    // Line

    &::before {
    background-color: $ha-color-highlight-1;
    content: "";
    height: 2px;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: -1;
    }

    ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    }

  }

  &__step {
  background-color: transparent;
  border: 0;
  font: inherit;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

    &[disabled] {
    color: $ha-color-neutral-highlight;
    }

    &__label {
    display: block;
    margin-top: .5em;
    overflow: hidden;
    position: absolute;
    text-indent: -999em;

      @media(min-width: 56em) {

        position: static;
        text-indent: 0;

      }

    }

    // Counters

    // Normally we would use a ::before pseudo-element here, but there is bug in NVDA:
    // https://bugs.chromium.org/p/chromium/issues/detail?id=1376668

    &__count {
    align-items: center;
    background-color: $ha-color-neutral-highlight;
    border-radius: 50%;
    color: $ha-color-light;
    display: flex;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    width: 50px;
    }

    // Checkmark/Edit Icon

    &::after {
    font-family: "FontAwesome";
    font-size: 1.8rem;
    margin-left: 12px;
    position: absolute;
    top: 12px;
    -webkit-text-stroke: 1px #fff;
    }

    // Current and Completed State

    &[aria-pressed], &--complete {
    color: $ha-color-dark;
    }

    // Completed State

    &--complete {

      .hosted-apply__step__count {
      background-color: $ha-color-complete;
      }

      &::after {
      content: "\f00c";
      color: $ha-color-complete;
      }

    }

    // Current (Pressed) Counter State

    &[aria-pressed] {

      .hosted-apply__step__count {
      background-color: $ha-color-primary;
      }

      &::after {
      content: "\f040";
      color: $ha-color-primary;
      }

    }

  }

  // Primary Sections

  &__section {
  max-height: 0;
  opacity: 0;
  outline-offset: 6px;
  position: relative;
  right: -20em;
  top: 0;
  visibility: hidden;

    &.active {
    max-height: 100000px;
    opacity: 1;
    right: 0;
    visibility: visible;

      @media (prefers-reduced-motion: no-preference) {

        transition: opacity 1200ms, right 300ms;

      }

    }

    // Primary Section Heading (should be an h2)

    &__heading {
    color: $ha-color-primary;
    margin-top: 0;
    }

    &__buttons {
    text-align: center;
    }

  }

  // Review (Errors)

  &__review {
  background-color: $ha-color-error;
  border-radius: 5px;
  color: $ha-color-light;
  display: none;
  padding: 1em;

    &__heading {
    font-size: 1.2em;
    margin: 0;
    }

    &__heading, a {
    color: inherit;
    }

  }

  // Fieldsets

  &__group {
  border-radius: 5px;
  border: 1px $ha-color-neutral solid;
  margin: 1em 0;
  padding: 1em;
  position: relative;

    // Legend

    // The "Faux" legend. The reason we accessibly hide the legend element and duplicate via div, is purely for styling purposes.
    // Legends are notoriously difficult to style, so while dirty, this solution works well with ATs.

    &__legend {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: .5em;
    }

    > h3:first-child  {
    margin-top: 0;
    }

    h3, p, span {

      &:last-child {
      margin-bottom: 0;
      }

    }

    .hosted-apply__section__heading {
    display: block;
    }

    // Sub Fieldsets. Nested fieldsets are sometimes necessary.

    .hosted-apply__group {

      .hosted-apply__group__legend {
      font-size: 1rem;
      }

    }

    // Delete Group Button

    &__delete {
    background-color: $ha-color-primary;
    border-radius: 5px;
    border: 0;
    height: 40px;
    position: absolute;
    right: 1.2em;
    top: 1em;
    width: 40px;

      &::before {
      color: $ha-color-light;
      content: "\f1f8";
      font-family: "FontAwesome";
      font-size: 1.5rem;
      }

      &:focus, &:hover {
      background-color: $ha-color-light;

        &::before {
        color: $ha-color-primary;
        }

      }

    }

  }

  // Form Fields

  &__field {

    // Label

    &__label {
    display: inline-block;
    font-weight: bold;
    margin: 1em 0 .5em;

      // Some "legends" need to be styled like labels, too.

      &:not(label) {
      margin-top: 0;
      }

      .invalid & {
      color: $ha-color-error;
      }

    }

    // Required

    &__required {
    @extend .visually-hidden;
    }

    &__icon {

      &::after {
      color: $ha-color-error;
      content: "*";
      vertical-align: middle;
      }

    }

    // Form Elements

    input:not([type="checkbox"]):not([type="radio"]), select, textarea {
    background-color: $ha-color-light;
    border: 1px $ha-color-neutral solid;
    font-size: inherit;
    padding: .7em;
    width: 100%;

      &[aria-invalid="true"] {
      border-color: $ha-color-error;
      background-color: $ha-color-error-highlight;
      }

    }

    textarea {
    height: 100px;
    }

    // Resume Upload

    &__upload {
    align-items: center;
    background-color: $ha-color-neutral-highlight;
    border: 2px dashed $ha-color-neutral;
    display: flex;
    height: 200px;
    justify-content: center;
    position: relative;
    text-align: center;

      input[type="file"] {
      cursor: pointer;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      }

      .invalid & {
      border-color: $ha-color-error;
      background-color: $ha-color-error-highlight;
      }

      // In hiding the input, we now need to apply outline when tabbed within.

      &:focus-within {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
      }

      // Instructions

      &__msg {
      font-weight: bold;

        &::before {
        background-color: $ha-color-primary;
        border-radius: 50%;
        color: $ha-color-light;
        content: "\f093";
        display: block;
        font-family: "FontAwesome";
        height: 35px;
        line-height: 35px;
        margin: 0 auto;
        width: 35px;
        }

      }

    }

    // Error Messages

    &__error {
    color: $ha-color-error;
    display: none;

      .invalid & {
      display: block;
      }

    }

    // Descriptions

    &__desc {
    display: block;
    font-style: italic;
    }

    &__error, &__desc {
    margin: .5em 0;
    }

  }

  // Upload List

  &__uploads {
  list-style: none;
  margin: 0;
  padding: 0;

    li {

      @media(min-width: 56em) {

        display: flex;

      }

      &::before {

        @media(min-width: 56em) {

          align-items: center;
          background-color: $ha-color-highlight-1;
          border-radius: 5px;
          border: 1px $ha-color-neutral solid;
          content: "\f15b";
          display: flex;
          font-family: "FontAwesome";
          justify-content: center;
          margin: 0 1em 1em 0;
          padding: 2em;

        }

      }

    }

    &__col {

      @media(min-width: 56em) {

        width: 35%;

      }

    }

    &__row {
    display: block;
    }

    &__label {
    font-weight: 700;
    }

    &__size {
    font-weight: normal;
    }

    &__success {
    color: $ha-color-complete;

      &::after {
      content: " \f00c";
      font-family: "FontAwesome";
      }

    }

    &__delete {
    background-color: $ha-color-highlight-1;
    border-radius: 5px;
    border: 1px $ha-color-neutral solid;
    margin: 1em 0;
    min-width: 100px;
    padding: 1em;

      @media(min-width: 56em) {

        margin: 1em;

      }

      &::after {

        color: $ha-color-dark;
        content: "\f1f8";
        font-family: "FontAwesome";
        font-size: 1.2rem;

      }

    }

  }

  // Answers

  &__answer {
  background-color: $ha-color-highlight-2;
  padding: .5em;
  position: relative;

    &::after {
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    right: .5em;
    }

  }


  &__skills {

    ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    li {
    display: inline-block;
    }

    &__button {
    background-color: $ha-color-highlight-1;
    border-radius: 30px;
    border: 0;
    color: inherit;
    margin: 0 1em 1em 0;
    min-width: 180px;
    padding: .8em;
    position: relative;
    display: flex;
    align-items: center;

      &::after {
      content: "\f057";
      font-family: "FontAwesome";
      font-size: 1.5rem;
      margin-left: auto;
      }

    }

  }

  // General Use Buttons

  &__button {
  background-color: $ha-color-primary;
  border: 2px transparent solid;
  color: $ha-color-light;
  display: inline-block;
  font-size: inherit;
  margin: 1em .5em;
  padding: 1em;
  text-decoration: none;

    &[target="_blank"] {

      &::after {
      filter: invert(100%);
      top: 2px;
      }

      &:focus, &:hover {

        &::after {

          filter: none;

        }

      }

    }

    &:focus, &:hover {
    background-color: $ha-color-light;
    border-color: $ha-color-primary;
    color: $ha-color-primary;
    }

    &--back {
    background-color: $ha-color-highlight-1;
    color: $ha-color-dark;
    }

  }

}
