/*!

  Radancy: Hosted Apply Model

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

// Mixins

@mixin fontface($font-path, $fileName, $fontName, $weight: normal, $style: normal, $display: swap) {

  @font-face {

    font-family: "#{$fontName}";
    src:local("#{$fontName}"),
    url("#{$font-path}#{$fileName}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: #{$display};

  }

}

// Variables

// Colors

$ha-color-complete: #008000;
$ha-color-dark: #000;
$ha-color-disabled: #767676;
$ha-color-error: #C70000;
$ha-color-error-highlight: pink;
$ha-color-light: #FFF;
$ha-color-neutral: #CCC;
$ha-color-neutral-highlight: #767676;
$ha-color-primary: #6F00EF;

// Font Weight

$weight-black: 900 !default; // Black (Heavy)
$weight-bold: 700 !default; // Bold (Often used as 'bold' instead of a number)
$weight-extra-bold: 800 !default; // Extra Bold (Ultra Bold)
$weight-extra-thin: 200 !default; // Extra Light (Ultra Light)
$weight-light: 300 !default; // Light
$weight-medium: 500 !default; // Medium
$weight-normal: 400 !default; // Normal (Often used as 'normal' instead of a number)
$weight-semi-bold: 600 !default; // Semi Bold (Demi Bold)
$weight-thin: 100 !default; // Thin (Hairline)

// Font Path

$font-file-path: "https://tbcdn.talentbrew.com/company/1839/Full_v3_0/font/";

@include fontface("#{$font-file-path}", "fontawesome-webfont", "FontAwesome", $weight-normal);

// Global Properities

// Note: If you have these already in your global stylesheet, feel free to remove.

*, *::before, *::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

// Visually hide elements

.visually-hidden:not(:focus):not(:active) {
clip-path: inset(50%);
clip: rect(0 0 0 0);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

// Hosted Apply

.hosted-apply {
counter-reset: disclosure;
outline-offset: 10px;

  // Global Form Element Reset

  // Note: If you have these already in your global stylesheet, feel free to remove.

  input, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearnace: none;
  }

  input:not([type="checkbox"]), button {
  box-sizing: border-box;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearnace: none;
  }

  input[type="checkbox"], input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearnace: checkbox;
  }

  // New Window Links

  a {

    &[target="_blank"] {

      &:after {
      background-color: transparent;
      background-image: url(data:image/gif;base64,R0lGODlhCgAKAJECAP///5mZmQAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==);
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 1em;
      content: "";
      display: inline-block;
      height: 1em;
      margin: 0 6px;
      width: 1em;
      }

      &:focus, &:hover {

        &::after {

          background-image: url(data:image/gif;base64,R0lGODlhCgAKAJECAP///2eIpAAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==);

        }

      }

    }

  }

  // "Back to Job Posting" Link

  &__back {
  margin: 0 0 1em;
  padding: 0;
  text-align: right;
  }

  // Progress Bar

  &__progress {
  counter-reset: progress;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

    @media(min-width: 56em) {

      display: flex;

    }

    &::before {
    background-color: $ha-color-neutral;
    content: "";
    height: 2px;
    left: 10%;
    position: absolute;
    right: 10%;
    top: 50%;
    width: 80%;
    z-index: -1;
    }

    li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 1em;
    }

  }

  &__page {
  align-items: center;
  background-color: $ha-color-light;
  border-radius: 5px;
  border: 0;
  color: $ha-color-neutral-highlight;
  display: flex;
  font-weight: 700;
  margin-bottom: .5em;
  padding: 1em;
  text-decoration: none;

    &:hover, &:focus {
    transition: background-color 0.5s ease;
    }

    // Links with missing href cannot be tabbed to. But we need to prevent clicking from mouse. We also only want this on links, not buttons.

    &:not([href]):not(button) {
    pointer-events: none;
    }

    // All Counters

    &::before {
    align-items: center;
    background-color: $ha-color-neutral-highlight;
    border: 2px transparent solid;
    border-radius: 50%;
    color: $ha-color-light;
    content: counter(progress);
    counter-increment: progress;
    display: flex;
    font-family: "FontAwesome";
    height: 30px;
    justify-content: center;
    margin-right: 1em;
    min-width: 30px;
    }

    // Disclosures for smaller viewports

    &[aria-expanded] {
    width: 100%;

      @media(min-width: 56em) {

        display: none;

      }

      &::before {
      content: counter(disclosure);
      counter-increment: disclosure;
      }

    }

    // Current and Completed Counter State

    &[aria-current], &--complete {
    color: $ha-color-dark;

      &:focus, &:hover {
      background-color: $ha-color-neutral;
      }

    }

    // Completed Counter State

    &--complete, &--complete[aria-expanded]{

      &::before {
      background-color: $ha-color-complete;
      content: "\f00c";
      }

    }

    // Current and Expanded Counter State

    &[aria-current], &[aria-expanded="true"] {
    background-color: $ha-color-primary;
    color: $ha-color-light;

      &::before {
      background-color: $ha-color-primary;
      border-color: $ha-color-light;
      content: "\f040";
      }

      &:focus, &:hover {
      background-color: $ha-color-primary;
      }

    }

  }

  // Primary Sections

  &__section {
  opacity: 0;
  visibility: hidden;
  position: relative;
  right: -10em;
  outline-offset: 10px;
  max-height: 0;

    &.active {
    opacity: 1;
    visibility: visible;
    right: 0;
    max-height: 100000px;

      @media (prefers-reduced-motion: no-preference) {

        transition: visibility 0s, linear 0s, opacity 900ms, right 600ms;

      }

    }

    // Primary Section Heading (should be an h2)

    &__heading {
    display: none;
    color: $ha-color-primary;
    margin-top: 0;

      @media(min-width: 56em) {

        display: block;

      }

    }

    &__buttons {
    text-align: center;
    }

  }

  // Review (Errors)

  &__review {
  background-color: $ha-color-error;
  border-radius: 5px;
  color: $ha-color-light;
  display: none;
  padding: 1em;

    &__heading {
    font-size: 1.2em;
    margin: 0;
    }

    &__heading, a {
    color: inherit;
    }

  }

  // Fieldsets

  &__group {
  border-radius: 5px;
  border: 1px $ha-color-neutral solid;
  margin: 1em 0;
  padding: 1em;
  position: relative;

    // Legend

    // The "Faux" legend. The reason we accessibly hide the legend element and duplicate via div, is purely for styling purposes.
    // Legends are notoriously difficult to style, so while dirty, this solution works well with ATs.

    &__legend {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    }

    h3:first-child  {
    margin-top: 0;
    }

    h3, p, span {

      &:last-child {
      margin-bottom: 0;
      }

    }

    // Sub Fieldsets. Nested fieldsets are sometimes necessary.

    .hosted-apply__group {

      .hosted-apply__group__legend {
      font-size: 1rem;
      }

    }

    // Delete Group Button

    &__delete {
    background-color: $ha-color-primary;
    border-radius: 5px;
    border: 0;
    height: 40px;
    position: absolute;
    right: 1.2em;
    top: 1em;
    width: 40px;

      &::before {
      color: $ha-color-light;
      content: "\f1f8";
      font-family: "FontAwesome";
      font-size: 1.5rem;
      }

    }

  }

  // Form Fields

  &__field {

    // Label

    &__label {
    display: inline-block;
    font-weight: bold;
    margin: 1em 0 .5em;

      // Some "legends" need to be styled like labels, too.

      &:not(label) {
      margin-top: 0;
      }

      .invalid & {
      color: $ha-color-error;
      }

    }

    // Required

    &__required {
    @extend .visually-hidden;
    }

    &__icon {

      &::after {
      color: $ha-color-error;
      content: "*";
      vertical-align: middle;
      }

    }

    // Form Elements

    input:not([type="checkbox"]):not([type="radio"]), select, textarea {
    border: 1px $ha-color-neutral solid;
    font-size: inherit;
    padding: .7em;
    width: 100%;

      &[aria-invalid="true"] {
      border-color: $ha-color-error;
      background-color: $ha-color-error-highlight;
      }

    }

    textarea {
    height: 100px;
    }

    // Resume Upload

    &__upload {
    align-items: center;
    background-color: $ha-color-neutral-highlight;
    border: 2px dashed $ha-color-neutral;
    display: flex;
    height: 200px;
    justify-content: center;
    position: relative;
    text-align: center;

      input[type="file"] {
      cursor: pointer;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      }

      .invalid & {
      border-color: $ha-color-error;
      background-color: $ha-color-error-highlight;
      }

      // In hiding the input, we now need to apply outline when tabbed within.

      &:focus-within {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
      }

      // Instructions

      &__msg {
      font-weight: bold;

        &::before {
        background-color: $ha-color-primary;
        border-radius: 50%;
        color: $ha-color-light;
        content: "\f093";
        display: block;
        font-family: "FontAwesome";
        height: 35px;
        line-height: 35px;
        margin: 0 auto;
        width: 35px;
        }

      }

    }

    // Error Messages

    &__error {
    color: $ha-color-error;
    display: none;

      .invalid & {
      display: block;
      }

    }

    // Descriptions

    &__desc {
    display: block;
    font-style: italic;
    }

    &__error, &__desc {
    margin: .5em 0;
    }

  }

  &__skills {

    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    li {
    display: inline-block;
    }

    button {
    background-color: $ha-color-neutral;
    border-radius: 30px;
    color: inherit;
    padding: .8em;
    margin: 0 1em 1em 0;
    border: 0;

      &::after {
      content: "\f057";
      font-size: 1.5rem;
      font-family: "FontAwesome";
      vertical-align: middle;
      margin-left: .5em;
      }

    }

  }

  // General Use Buttons

  &__button {
  background-color: $ha-color-primary;
  border: 2px transparent solid;
  color: $ha-color-light;
  display: inline-block;
  font-size: inherit;
  margin: 1em .5em;
  padding: 1em;
  text-decoration: none;

    &:focus, &:hover {
    background-color: $ha-color-light;
    border-color: $ha-color-primary;
    color: $ha-color-primary;
    }

    &--back {
    background-color: $ha-color-neutral;
    color: $ha-color-dark;
    }

  }

}
