
.section-block {
background-color: #eee;
border-radius: 5px;
margin-bottom: 1em;
padding: 1em;
}

.section-block img {
max-height: 275px;
margin: 0 auto;
}

.section-heading {
margin-top: 0;
text-align: center;
}

.disclosure-dynamic ul {
list-style: none;
margin: 0;
padding: 0;
}

.disclosure--btn {
background-color: orange;
border: 0;
border-bottom: 5px transparent solid;
color: #000;
font: inherit;
padding: .5em;
position: relative;
text-align: start;
width: 100%;
}

.disclosure--btn[data-disclosure-dynamic] {
background-color: #000;
color: orange;
}

.disclosure--btn[data-disclosure-dynamic].open, .disclosure--btn[data-disclosure-dynamic]:focus, .disclosure--btn[data-disclosure-dynamic]:hover {
border-color: orange;
font-weight: bold;
}

.disclosure--icon::after {
content: "↓";
display: inline-block;
font-size: x-large;
line-height: normal;
position: absolute;
right: .75em;
top: .4em;
}

.disclosure--heading.open .disclosure--icon::after, .disclosure--btn.open .disclosure--icon::after {
content: "↑";
}

.disclosure--content {
border: 0 !important; /* Overriding radancy.dev styles - you can remove important. */
display: none;
padding: 0 !important /* Same. */
}

.disclosure--target {
padding: 1em;
}

.disclosure--btn.open + .disclosure--content, .disclosure--heading.open + .disclosure--content  {
display: block;
}

.desktop-heading, .disclosure--target {
display: none;
}

@media(min-width: 780px) {

  .disclosure-dynamic {
  display: flex;
  }

  .disclosure-item {
  min-width: 220px;
  }

  .disclosure-item:not(:last-child) {
  margin-right: 2em;
  }

  .disclosure--btn {
  background-color: transparent;
  }

  .disclosure--btn[data-disclosure-dynamic] {
  background-color: inherit;
  color: inherit;
  }

  .disclosure--heading, .disclosure--btn.open + .disclosure--content {
  display: none;
  }

  .desktop-heading, .disclosure--heading + .disclosure--parent, .disclosure--target, .desktop-heading + .disclosure--content {
  display: block;
  }

}
