/*!

  Wegmans: Video Grid

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed


*/   

.video-grid { 
background-color: #f8971d;
padding: 1em;
position: relative;

  @media(min-width: 48.625em) {

    padding: 2em;

  }

  @media(min-width: 87.5em) {

    padding: 2em 10em;

  }

  &__hdr {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0.5em 0;
  }

  video {
  display: block;
  height: 100%;
  width: 100%;
  }

  &__container {
  display: grid;
  gap: 1.5em;
  text-align: center;

      @media(min-width: 48.625em) {

        grid-template-columns: repeat(2, 1fr);
      
      }

      @media(min-width: 61.25em) {
      
        grid-template-columns: repeat(4, 1fr);
      
      }

  }

  &__item {
  align-items: center;
  display: flex;
  justify-content: center;

    &:nth-child(1),  &:nth-child(8) {
    background-color: #79bc43;
    }

    &:nth-child(3) {
    background-color: #bd44a8;
    }

    &:nth-child(6) {
    background-color: #fddb00;
    }

  }

  &__content {
  padding: 1em;
  color: #000;
  line-height: normal; 
  font-size: 1.5rem;

  @media(min-width: 61.25em) {

    font-size: 1rem;

  }

    @media(min-width: 78em) {
      
      font-size: 1.5rem;

    }

  }

  &__subhdr {
  font-weight: 700;
  }

  &__subhdr, p {
  color: inherit;
  margin: 0;
  }

  &__button {
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjIuODggNzQuODIiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbC1ydWxlOmV2ZW5vZGQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5wbGF5LXBhdXNlPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik01MS45Myw0My45YzUuNDktMy41NSw1LjQ3LTcuNSwwLTEwLjY0TDksMS44NkM0LjU1LS45NC0uMTIuNzEsMCw2LjU1TC4xOCw2OC4yM2MuMzgsNi4zNCw0LDguMDcsOS4zMyw1LjE0TDUxLjkzLDQzLjlaTTEwNS44NCwwaDEzLjFhNCw0LDAsMCwxLDMuOTQsMy45NFY3MC44OGE0LDQsMCwwLDEtMy45NCwzLjk0aC0xMy4xYTQsNCwwLDAsMS0zLjk0LTMuOTRWMy45NEE0LDQsMCwwLDEsMTA1Ljg0LDBaTTcxLjk0LDBIODVBNCw0LDAsMCwxLDg5LDMuOTRWNzAuODhBNCw0LDAsMCwxLDg1LDc0LjgySDcxLjk0QTQsNCwwLDAsMSw2OCw3MC44OFYzLjk0QTQsNCwwLDAsMSw3MS45NCwwWiIvPjwvc3ZnPg==");
  background-position: -22px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  height: 30px;
  transition-property: none;
  width: 30px;
  position: absolute;
  top: 1em;
  right: 1em;

    &[aria-pressed="true"] {
    background-position: 6px;
    }

  }

}